IBM_CLOUD_API_KEY=
STT_API_KEY=
STT_SERVICE_URL=
STT_MODEL=ja-JP
BOX_CLIENT_ID=
BOX_CLIENT_SECRET=
BOX_ENTERPRISE_ID=
BOX_SPEECH_FOLDER_ID=
BOX_TEXT_FOLDER_ID=
BOX_DONE_FOLDER_ID=
CE_BOX_LOG_ENABLED=false
